.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 2rem;
  background-image: url(../src/image.png);
  background-size: contain;
  color: black

}